table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th{
  border: 1px solid black;
  text-align: left;
  padding: 8px;
  font-style: italic;
}
td {


  border: 1px solid black;
  text-align: left;
  padding: 8px;
}